#page_index .navhome li {
    border: none;
}
#page_index .homebanner,
#page_index .homebanner #sync1,
#page_index .homebanner #sync1 .item,
#page_index .homebanner #sync1 .item img {
    height: 675px;
}
.homepage-banner {
    max-width: unset;
}
#page_index .homebanner {
    margin: 0 auto;
    float: unset;
}
.homepage-banner__ads {
    position: absolute;
    top: 0;
    width: calc((100% - 1200px) / 2);
}
.homepage-banner__ads--right {
    right: 0;
}
.homepage-banner__ads img {
    width: 100%;
}
.homepage-banner__ads a {
    display: flex;
    margin: 0 20px;
}


#popupkm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
}
#popupkm .modal-content {
    margin: auto;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#popupkm .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 35px;
    position: relative;
    right: -15px;
    top: 20px;
    cursor: pointer;
}
#popupkm img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

@media(max-width: 1440px) {
    .homepage-banner__ads {
        display: none;
    }
}
